@CHARSET "UTF-8";

label {
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}
#active_key {
	float: left;
	margin-top: 2px;
	margin-right: 15px;
}
  
#keyword {
	width: 200px;
	height: 30px;
	float: left;
	margin-left: -10px;
}

#auth_inqr_fbtn {
	width: 46px;
	height: 30px;
	margin-left: -10px;
}

#excelExportPopBtn {
	margin-left: 5px;
}

th, td {
	text-align: center;
}
#authNm {
	
/* 	text-align: left; */
/* 	padding-left: 40px; */
}


/* -------------------------------------------- */

.searchChart_div {
	width: 50%;
	height: 60px;
	margin-left:20px;
	z-index: 1;
}

.search2chart_div {
	
	width: 100%;
	margin: auto;
	
}

.listChart_div {
	
	position:relative;
	margin-left: 10px;
	width: 100%;
	overflow:auto;
	z-index: 1;
}

.list1_div {
	
	width: 95%;
	margin: auto;
}
@media screen and (min-width:1100px){
	.search2_div {
		margin-top: 10px;
		margin-left: 20px;
		float: left;    
		width: 50%;
		vertical-align: middle;
	}
	.listChart_div{
		position:relative;
		width:100%;
		overflow:auto;
		z-index: 1;
	}
	.list2Left_div{
		/* position:float; */
		padding: 10px;	
		float: left;
		width: 50%;
		z-index: 1;
	}
	.list3Right_div{
		padding: 10px;
		margin-top: 10px;
		
		/* margin-top: 35px;  */
		
		margin-left: 10px;
		width: 48%;
		display: inline-block;
		z-index: 10;
	}
}
@media screen and (max-width:1099px){
	.list2Left_div {
		padding: 10px;	
		float: left;
		width: 100%;
	}
	
	.list3Right_div {
		padding: 10px;
		/* margin-top: 35px;  */
		margin-left: 20px;
		width: 100%;
		display: inline-block;
	}
}


.dthree {
	
	z-index: 100;
	
}

.axis path, 
.axis line {
 fill : none;
 stroke:#aaaaaa;
}
.axis text{
 font-family : sans-serif;
 font-size:10px;
 fill:#888888;
}



/* -------------------------------------- */
/* 꺽은선 그래프 */
.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


/* ------------------------------------------- */

	
svg { width: 320px; height: 240px; border: 1px solid black; }
.bar { fill : orange; }
.barNum {
	font-size: 9pt;
	text-anchor : middle;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}
.axis path,
.axis line {
	fill: none;
	stroke: black;
}
.axis_x line {
	fill: none;
	stroke: black;
}
.barName {
	font-size: 9pt;
	text-anchor : middle;
}
