<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auth">

<!-- 전체 행의 개수 -->
<select id="authCount" parameterType="java.util.Map" resultType="int" >
    SELECT COUNT(*) AS CNT
	FROM TB_AUTH
	WHERE DEL_FLG = 'N'
	<if test="active_key != null and active_key != '' ">   
		AND ACTIVE_FLG = #{active_key}
	</if>
	
	<if test="keyword != null and keyword != ''">   
   		AND AUTH_NM LIKE '%'||#{keyword}||'%' 
    </if>
 </select>
	
<select id="selectAuth"  parameterType="map" resultType="com.msp.cp.auth.vo.AuthVO">
SELECT X.*
FROM ( SELECT ROWNUM AS RNUM, A.*
       FROM (
         SELECT *
         FROM TB_AUTH
         WHERE 
         	DEL_FLG = 'N' AND ACTIVE_FLG = 'Y'
<!--        	 	<if test="active_key != null and active_key != '' " >    -->
<!--             	AND ACTIVE_FLG = #{active_key} -->
<!-- 		 	</if> -->
		 	<if test="keyword != null and keyword != ''" >   
            	AND AUTH_NM LIKE '%' || #{keyword} || '%'
         	</if>
         ORDER BY AUTH_ID ASC ) A
     ) X
     <![CDATA[
        WHERE X.RNUM >= #{startRow} AND X.RNUM <= #{endRow}
	 ]]>
</select>

<select id="selectOne" parameterType="string" resultType="map" >
SELECT
    AUTH_ID,
    AUTH_NM,
    ACTIVE_FLG,
    DEL_FLG,
    CREATED_BY,
    CREATED,
    UPDATED_BY,
    UPDATED
FROM TB_AUTH
WHERE ACTIVE_FLG = 'Y'
ORDER BY AUTH_ID ASC
</select>

<select id="authCheck" parameterType="com.msp.cp.auth.vo.AuthVO" resultType="map">
SELECT
    AUTH_ID,
    AUTH_NM,
    ACTIVE_FLG,
    DEL_FLG,
    CREATED_BY,
    CREATED,
    UPDATED_BY,
    UPDATED 
FROM TB_AUTH
WHERE AUTH_ID = #{auth_id}
</select>

<select id="searchAuthDetail" parameterType="com.msp.cp.auth.vo.AuthVO" resultType="com.msp.cp.auth.vo.AuthVO">

SELECT
	*
FROM TB_AUTH
WHERE AUTH_ID = #{auth_id}
ORDER BY AUTH_ID ASC
			
</select>

<select id="selectDetailAuth" parameterType="string" resultType="com.msp.cp.auth.vo.AuthVO">

SELECT
	AUTH_ID,
    AUTH_NM,
    ACTIVE_FLG,
    DEL_FLG,
    CREATED_BY,
    CREATED,
    UPDATED_BY,
    UPDATED 
FROM TB_AUTH
WHERE AUTH_ID = #{auth_id}
	  AND ACTIVE_FLG = 'Y'

</select>

<insert id = "insertAuth" parameterType = "com.msp.cp.auth.vo.AuthVO"> 
INSERT INTO TB_AUTH
( 
    AUTH_ID,
    AUTH_NM,
    ACTIVE_FLG,
    DEL_FLG,
    CREATED_BY,
    CREATED,
    UPDATED_BY,
    UPDATED
)
VALUES
(
    (SELECT
        DECODE(MAX(AUTH_ID),NULL,'AUT1000001',SUBSTR(MAX(AUTH_ID),1,3)||(SUBSTR(MAX(AUTH_ID),4,10)+1))AUTH_ID
    FROM TB_AUTH
    WHERE ROWNUM=1),
    #{auth_nm},
    #{active_flg},
    'N',
    '관리자',
    SYSDATE,
    '',
    ''
)	
</insert>

<insert id="insertAuthMaster" parameterType="com.msp.cp.auth.vo.AuthVO">
INSERT INTO TB_AUTH
( 
	AUTH_ID,
    AUTH_NM,
    ACTIVE_FLG,
    DEL_FLG,
    CREATED_BY,
    CREATED,
    UPDATED_BY,
    UPDATED
) 
VALUES 
(
	 (SELECT
        DECODE(MAX(AUTH_ID),NULL,'AUT1000001',SUBSTR(MAX(AUTH_ID),1,3)||(SUBSTR(MAX(AUTH_ID),4,10)+1))AUTH_ID
    FROM TB_AUTH
    WHERE ROWNUM=1),
    #{auth_nm}, 
    #{active_flg}, 
    'N',
    '관리자',
    SYSDATE,
    '',
    ''
) 
</insert>
	
	
<update id = "updateAuth" parameterType = "com.msp.cp.auth.vo.AuthVO"> 
UPDATE TB_AUTH
SET AUTH_NM = #{auth_nm},
    ACTIVE_FLG = #{active_flg}
WHERE  AUTH_ID = #{auth_id}
</update>
	
<update id = "deleteAuth" parameterType="com.msp.cp.auth.vo.AuthVO">
UPDATE TB_AUTH
SET ACTIVE_FLG = 'N'
WHERE  AUTH_ID = #{auth_id}
</update>

<select id="selectAuthPop"  parameterType="map" resultType="com.msp.cp.auth.vo.AuthVO">
SELECT X.*
FROM ( SELECT ROWNUM AS RNUM, A.*
       FROM (
         SELECT 
         	auth_id
         	,auth_nm
         FROM TB_AUTH
         WHERE 
         	DEL_FLG = 'N'
         	AND ACTIVE_FLG = 'Y'
		 	<if test="keyword != null and keyword != ''" >   
            	AND AUTH_NM LIKE '%' || #{keyword} || '%'
         	</if>
         ORDER BY AUTH_ID ASC ) A
     ) X
     <![CDATA[
        WHERE X.RNUM >= #{startRow} AND X.RNUM <= #{endRow}
	 ]]>
</select>

<select id="auth_list_excel" parameterType="string" resultType="map">
SELECT X.*
FROM ( SELECT ROWNUM AS RNUM, A.*
       FROM (
         SELECT *
         FROM TB_AUTH
         WHERE 
         	DEL_FLG = 'N'
       	 	<if test="active_key != null and active_key != '' " >   
            	AND ACTIVE_FLG = #{active_key}
		 	</if>
		 	<if test="keyword != null and keyword != ''" >   
            	AND AUTH_NM LIKE '%' || #{keyword} || '%'
         	</if>
         ORDER BY AUTH_ID ASC ) A
     ) X
</select>


</mapper>