<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auth">

<sql id="where-list">
	<if test="keyfield=='active_flg_y'">
	    WHERE ACTIVE_FLG = 'Y'
	</if>
	<if test="keyfield=='active_flg_n'">
	    WHERE ACTIVE_FLG = 'N'
	</if>
	<if test="keyword!=null and keyword!=''">
		WHERE AUTH_NM LIKE '%' || #{keyword} || '%'
	</if>
</sql>

<select id="searchListAuth"  parameterType="string" resultType="map">
SELECT
    AUTH_ID,
    AUTH_NM,
    ACTIVE_FLG,
    DEL_FLG,
    CREATED_BY,
    CREATED,
    UPDATED_BY,
    UPDATED
FROM TB_AUTH
<where>
	<if test="keyfield=='active_flg_y'" >   
		ACTIVE_FLG = 'Y'
	</if>
	<if test="keyfield=='active_flg_n'" >   
		ACTIVE_FLG = 'N'
	</if>
	<if test="keyword != null and keyword != ''" >   
		AND AUTH_NM LIKE '%' || #{keyword} || '%'
	</if>
</where>
ORDER BY AUTH_ID ASC
</select >

<select id="authSelect" parameterType="com.msp.cp.auth.vo.AuthVO" resultType="com.msp.cp.auth.vo.AuthVO">
 SELECT
    AUTH_ID,
    AUTH_NM,
    ACTIVE_FLG,
    DEL_FLG,
    CREATED_BY,
    CREATED,
    UPDATED_BY,
    UPDATED
FROM TB_AUTH
WHERE 
<if test="keyword!=null and keyword!='' ">
	<include refid="where-list"/>
</if>
ORDER BY AUTH_ID ASC 
</select>
 

<insert id = "insertAuth" parameterType = "com.msp.cp.auth.vo.AuthVO"> 
INSERT INTO TB_AUTH
( 
    AUTH_ID,
    AUTH_NM,
    ACTIVE_FLG,
    DEL_FLG,
    CREATED_BY,
    CREATED,
    UPDATED_BY,
    UPDATED
)
VALUES
(
    #{auth_id},
    #{auth_nm},
    #{active_flg},
    'Y',
    '관리자',
    SYSDATE,
    '',
    ''
)	
</insert>
	
<update id = "updateAuth" parameterType = "com.msp.cp.auth.vo.AuthVO"> 
UPDATE TB_AUTH
SET AUTH_NM = #{auth_nm, jdbcType=VARCHAR},
    ACTIVE_FLG = #{active_flg, jdbcType=VARCHAR}
WHERE  AUTH_ID = #{auth_id}
</update>
	
<update id = "deleteAuth" parameterType="String">
UPDATE TB_AUTH
SET ACTIVE_FLG = 'N'
WHERE  AUTH_ID = #{auth_id}
</update>

</mapper>