<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardmng">

<!-- 전체 행의 개수 -->
	<select id="boardMngListCount" parameterType="java.util.Map" resultType="int">
	    select count(*) as cnt
		 FROM TB_BOARD_MNG
		where del_flg='N'   
	</select>
	 
<select id="BoardMngList" parameterType="int" resultType="map">
select X.*
		from ( 
		    select rownum as rnum, A.*
		        from (
		SELECT
 		 *
		FROM tb_board_mng
) A
	  ) X
 <![CDATA[
		 where X.rnum >= #{page.startRow} and X.rnum <= #{page.endRow}
			]]>
 </select>
 
 
 <select id="ReadPage"  resultType="com.msp.cp.boardmng.vo.BoardMngVO">
 SELECT BOARD_MNG_NO, BOARD_MNG_CD, BOARD_NM, REPLY_FLG, ACTIVE_FLG, FILE_ATTACH_FLG, NOTICE_FLG 
 FROM TB_BOARD_MNG
 WHERE BOARD_MNG_NO = #{BOARD_MNG_NO}
 </select>
 
  <update id="Modify" >
 
 update tb_board_mng set title = #{BOARD_NM}, #{REPLY_FLG}, #{REPLY_FLG}, #{ACTIVE_FLG}, #{NOTICE_FLG}
 where BOARD_MNG_NO = #{BOARD_MNG_NO}
 
 </update>
  

</mapper>