<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

<!-- 전체 행의 개수 -->
	<select id="boardListCount" parameterType="java.util.Map" resultType="int">
	    select count(*) as cnt
		 FROM TB_BOARD
		where del_flg='N'   
	</select>
	
<select id="BoardList" parameterType="int" resultType="map">
select X.*
		from ( 
		    select rownum as rnum, A.*
		        from (
		SELECT
 		 *
		FROM tb_board
) A
	  ) X
 <![CDATA[
		 where X.rnum > #{page.startRow} and X.rnum <= #{page.endRow}
			]]>
 </select>
 
 <select id="ajaxList" resultType="map">
 
 SELECT
  BOARD_NO, TITLE, CONTENT, CREATED_BY, CREATED, VIEW_CNT
FROM tb_board
WHERE ACTIVE_FLG='Y'
 </select>
 
 
 <select id="ReadPage"  resultType="com.msp.cp.board.vo.BoardVO">
 SELECT BOARD_NO, TITLE, CONTENT, CREATED, CREATED_BY, VIEW_CNT 
 FROM TB_BOARD
 WHERE BOARD_NO = #{BOARD_NO}
 </select>
 
 
 <insert id="InsertBoard">
INSERT INTO TB_BOARD (BOARD_NO, BOARD_MNG_NO, FILE_CD, TITLE, CONTENT, VIEW_CNT, QUESTION_TYPE_CD, CREATED_BY,  UPDATED_BY)
VALUES(board_seq.nextval, 'abcd','', #{TITLE}, #{CONTENT}, '1', 'abcd', '진수거', '')

 </insert>
 
 <select id="readBoard"  resultType="com.msp.cp.board.vo.BoardVO">
 
 SELECT TITLE, CONTENT, BOARD_NO, CREATED, VIEW_CNT
 FROM TB_BOARD
 WHERE BOARD_NO = #{BOARD_NO}
 
 </select>
 
 <update id="removeBoard" parameterType="String"> 
 update tb_board set active_flg = 'N'
 	where BOARD_NO = #{BOARD_NO}
 </update>
 
 <update id="ModifyBoard" >
 
 update tb_board set title = #{TITLE}, content = #{CONTENT}
 where BOARD_NO = #{BOARD_NO}
 
 </update>

</mapper>