<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="code">

	<select id="codeListCount" parameterType="java.util.Map" resultType="int">
		SELECT
			count(*) as cnt
		FROM
			TB_CODE_MASTER TM, TB_CODE_DETAIL TB
		WHERE
			TM.GRP_CD = TB.GRP_CD
		<if test="grp_cd != null and grp_cd != ''">
			AND TM.grp_cd = #{grp_cd}
		</if>
	</select>

	<select id="searchCodeList" parameterType="int" resultType="map">
		SELECT	X.*
		FROM 
     	 (
        	select rownum as rnum, A.*
       		from (
               		 SELECT tm.grp_cd, tm.grp_nm, td.code1, td.code_txt
               		 FROM 
               		 	TB_CODE_MASTER TM, TB_CODE_DETAIL TD
                	 WHERE 
                	 	TM.GRP_CD = TD.GRP_CD
               		 ORDER BY 
               		 	TM.GRP_CD, TD.CODE1
             	  ) A
     	 ) X
     	 <![CDATA[
		WHERE X.rnum >= #{page.startRow} and X.rnum < #{page.endRow}
		]]>
	</select>
	
	<select id="searchCodeDetail" parameterType="com.msp.cp.code.vo.CodeVO" resultType="com.msp.cp.code.vo.CodeVO">
		SELECT
			*
		FROM
			TB_CODE_MASTER TM, TB_CODE_DETAIL TD
		WHERE
			TM.GRP_CD = TD.GRP_CD
			AND CODE1 = #{code1}
		ORDER BY
			TM.GRP_CD, TD.CODE1
	</select>
	
	<select id="searchGrpList" parameterType="com.msp.cp.code.vo.CodeVO" resultType="com.msp.cp.code.vo.CodeVO">
		SELECT
			*
		FROM	
			TB_CODE_MASTER TM, TB_CODE_DETAIL TD
		WHERE
			TM.GRP_CD = TD.GRP_CD
			AND TM.GRP_CD = #{grp_cd}
		ORDER BY
			TM.GRP_CD, TD.CODE1
	</select>
	
	<select id="searchGrpList2" parameterType="java.util.Map" resultType="com.msp.cp.code.vo.CodeVO">
		SELECT	X.*
		FROM 
     	 (
        	select rownum as rnum, A.*
       		from (
               		 SELECT tm.grp_cd, tm.grp_nm, td.code1, td.code_txt
               		 FROM 
               		 	TB_CODE_MASTER TM, TB_CODE_DETAIL TD
                	 WHERE 
                	 	TM.GRP_CD = TD.GRP_CD
			<if test="grp_cd != null and grp_cd != ''">
				AND TM.grp_cd = #{grp_cd}
			</if>
               		 ORDER BY 
               		 	TM.GRP_CD, TD.CODE1
             	  ) A
     	 ) X
     	 <![CDATA[
		WHERE X.rnum >= #{page.startRow} and X.rnum < #{page.endRow}
		]]>
		
	</select>
	
	<select id="searchGrpPop" parameterType="java.util.Map" resultType="com.msp.cp.code.vo.CodeVO">
		SELECT
			GRP_CD, GRP_NM
		FROM 
			TB_CODE_MASTER
		ORDER BY
			GRP_CD
	</select>
	
	<insert id="insertCodeMaster" parameterType="com.msp.cp.code.vo.CodeVO">
		INSERT INTO TB_CODE_MASTER
			(grp_cd, grp_nm, grp_desc, created_by) 
        VALUES 
        	(#{grp_cd}, #{grp_nm}, #{grp_desc}, #{created_by}) 
	</insert>
	
	<insert id="insertCodeDetail" parameterType="com.msp.cp.code.vo.CodeVO">
		INSERT INTO TB_CODE_DETAIL
			(grp_cd, code1, code_txt, code_desc, created_by)
		VALUES
			(#{grp_cd}, #{code1}, #{code_txt}, #{code_desc}, #{created_by})
	</insert>
	
	<update id="modifyCodeDetail" parameterType="com.msp.cp.code.vo.CodeVO">
		UPDATE
			TB_CODE_DETAIL
		SET
			CODE_TXT  = #{code_txt},
			CODE_DESC = #{code_desc}
		WHERE
			GRP_CD = #{grp_cd} AND CODE1 = #{code1}
	</update>
	
	<delete id="deleteCodeMaster" parameterType="com.msp.cp.code.vo.CodeVO">
		DELETE 
			tb_code_master
		WHERE
			grp_cd = #{grp_cd}					
	</delete>
	
	<delete id="deleteCodeDetail" parameterType="com.msp.cp.code.vo.CodeVO">
		DELETE
			tb_code_detail
		WHERE
			code1 = #{code1}
	</delete>

</mapper>