<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common">

	<!-- 사용자관리 -->
	<update id="userExcelInsert" parameterType="java.util.List">
		INSERT INTO tb_user (user_id, user_pwd, emp_no, user_nm, dept_cd
			, rank_cd, duty_cd, cphone_num1, cphone_num2, cphone_num3
			, phone_num1, phone_num2, phone_num3, email_id, email_domain
			, hiredate, created_by) 
		VALUES(#{A}, #{B}, #{C}, #{D}, #{E}, #{F}, #{G}, #{H}, #{I}, #{J}, #{K}, #{L}, #{M}, #{N}, #{O}, #{P}, #{Q})      
	</update>


	<!-- 	권한관리	 -->
	<update id="authExcelInsert" parameterType="java.util.List">
		INSERT INTO TB_AUTH ( 
			AUTH_ID,
		    AUTH_NM,
		    ACTIVE_FLG,
		    DEL_FLG,
		    CREATED_BY
		   ) 
		VALUES(#{A}, #{B}, #{C}, #{D}, #{E})      
	</update>	
	
		<!-- 	지역관리, D3.js 예제	 -->
	<update id="dthreeExcelInsert" parameterType="java.util.List">
		INSERT INTO TB_CHART ( 
			AREA,
		    KOREA,
		    FOREIGNER
		   ) 
		VALUES(#{A}, #{B}, #{C})      
	</update>
	
	
	<!-- User List 출력  -->
	<select id="sessionInqr" parameterType="string" resultType="map"> <!-- parameterType="map" resultType="" -->
		select auth.user_id, auth.auth_id, auth.auth_nm, tma.menu_cd, tma.inqr_auth, tma.add_auth, tma.mdfy_auth, tma.del_auth, tma.menu_acc_auth, tma.active_flg 
		  from(select tua.user_id, tua.auth_id, ta.auth_nm, tua.active_flg
		        from (select auth_id, auth_nm, active_flg, del_flg
		                from tb_auth
		                where 1=1
		                and active_flg='Y'
		                and del_flg='N') ta, tb_user_auth tua
		        where 1=1
		          and ta.auth_id = tua.auth_id
		          and tua.active_flg='Y') auth, tb_menu_auth tma
		where 1=1
		  and auth.auth_id = tma.auth_id
		  and tma.active_flg='Y'
		  and auth.user_id=#{sessionID}
	</select>
</mapper>