<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="menuAuth">
	<select id="menuAuthListCount" parameterType="java.util.Map" resultType="int">
		SELECT
			count(*) as cnt
		FROM
			TB_MENU_AUTH
		WHERE
			ACTIVE_FLG = 'Y'
		<if test="grp_cd != null and grp_cd != ''">
			AND TM.grp_cd = #{grp_cd}
		</if>
	</select>
	
	<select id="searchListAuthList"  parameterType="string" resultType="map">
		SELECT 
			X.*
		FROM 
			( SELECT 
				ROWNUM AS RNUM, A.*
       		  FROM (
         		SELECT 
         			menu_cd,
         			(SELECT
              			menu_nm
           			 FROM
              			TB_MENU 
           			 WHERE
              			menu_cd = tma.menu_cd
          			) as menu_nm,
          			(SELECT
              			auth_nm
           			 FROM
              			TB_AUTH
           			 WHERE
              			auth_id = tma.auth_id
          			) auth_nm,
          			inqr_auth,
		            add_auth,
     		        mdfy_auth,
       	   		    del_auth,
          		    menu_acc_auth
         		FROM 
         			TB_MENU_AUTH tma
         		WHERE 
         			ACTIVE_FLG = 'Y'
         		<if test="active_flg =='N'" >   
             		AND ACTIVE_FLG = 'N'
		 		</if>
         		ORDER BY AUTH_ID ASC ) A
     		) X
     	<![CDATA[
        WHERE 
        	X.RNUM >= #{page.startRow} AND X.RNUM <= #{page.endRow}
	 	]]>
	 		<if test="auth_id_sch != null and auth_id_sch != ''" >   
            	AND auth_nm LIKE '%' || #{auth_id_sch} || '%'
         	</if>
         	<if test="menu_nm_sch != null and menu_nm_sch != ''">
         		AND menu_nm LIKE '%' || #{menu_nm_sch} || '%'
         	</if>
	</select >
	
	<select id="menuAuthDetail" parameterType="string" resultType="map">
		SELECT
		 auth_id,
 		 (SELECT auth_nm
  		  FROM tb_auth
   		  WHERE auth_id = TMA.auth_id) AS auth_nm,
  		 menu_cd,
  		 (SELECT menu_nm
   		  FROM tb_menu
   		  WHERE menu_cd = TMA.menu_cd) AS menu_nm,
  		 (SELECT up_menu_cd
   		  FROM tb_menu
   		  WHERE menu_cd = TMA.menu_cd) AS up_menu_cd,
  		 (SELECT menu_nm
   		  FROM tb_menu
   		  WHERE up_menu_cd = TMA.menu_cd) AS up_menu_nm,
  		 (SELECT menu_url
   	      FROM tb_menu
   		  WHERE menu_cd = TMA.menu_cd) AS menu_url,
  		 active_flg,
  		 inqr_auth,
         add_auth,
  		 mdfy_auth,
  		 del_auth
		FROM 
			tb_menu_auth TMA
		WHERE 
			TMA.menu_cd = #{menu_cd}
			AND auth_id = (SELECT auth_id
						   FROM tb_auth
						   WHERE auth_nm = #{auth_nm})
	</select>
	
	<insert id="menuAuthAdd" parameterType="com.msp.cp.menuAuth.vo.MenuAuthVO">
		INSERT INTO TB_MENU_AUTH
			(auth_id, menu_cd, inqr_auth, add_auth, mdfy_auth, del_auth, menu_acc_auth, created_by)
		VALUES
			(#{auth_id}, #{menu_cd}, #{inqr_auth}, #{add_auth}, #{mdfy_auth}, #{del_auth}, #{menu_acc_auth}, #{created_by} )
	</insert>
	
	<update id="menuAuthMdfy" parameterType="com.msp.cp.menuAuth.vo.MenuAuthVO">
		UPDATE 
			TB_MENU_AUTH
		SET
			ACTIVE_FLG = #{active_flg},
			INQR_AUTH  = #{inqr_auth},
			ADD_AUTH   = #{add_auth},
			MDFY_AUTH  = #{mdfy_auth},
			DEL_AUTH   = #{del_auth},
			MENU_ACC_AUTH = #{menu_acc_auth}
		WHERE
			AUTH_ID = #{auth_id} AND MENU_CD = #{menu_cd}
	</update>
</mapper>