<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="menu">

	<select id="selectMenu" parameterType="map" resultType="com.msp.cp.menu.vo.MenuVO">
		SELECT *
		FROM 
		(
			SELECT
				ROWNUM AS rnum, m.*
			FROM 
			(
				SELECT
					DISTINCT
					m.menu_cd
					,m.menu_nm
					,m.menu_url
					,m.menu_level
					,(
						SELECT DISTINCT menu_nm 
						FROM TB_menu
						WHERE m.up_menu_cd = menu_cd
					  ) as up_menu_nm
					,m.active_flg
				FROM TB_MENU m
				WHERE
					m.del_flg='N'
					<if test="menu_nm_key != null">
						and m.menu_nm like '%'||#{menu_nm_key}||'%'
					</if>
					<if test="active_key != null and active_key != ''">
						and m.active_flg=#{active_key}
					</if>
				ORDER BY m.menu_cd DESC
				) m
			)
		<![CDATA[
		WHERE RNUM >= #{startRow} AND RNUM <= #{endRow}
		]]>
	</select>
	
	<!-- 검색 결과 list의 수 -->
	<select id="menuCount" parameterType="map" resultType="int">
		SELECT
		    COUNT(*)
		FROM TB_MENU
		WHERE 
			del_flg='N'
		    <if test="menu_nm_key != null">
				and menu_nm like '%'||#{menu_nm_key}||'%'
			</if>
			<if test="active_key != null and active_key != ''">
				and active_flg=#{active_key}
			</if>
			ORDER BY menu_cd DESC
	</select>
	
	<select id="selectDetailMenu" parameterType="string"
		resultType="com.msp.cp.menu.vo.MenuVO">
		SELECT
			m.menu_cd
			,m.menu_nm
			,m.menu_url
			,m.menu_level
			,m.up_menu_cd
			,(
				SELECT DISTINCT menu_nm 
				FROM TB_menu
				WHERE m.up_menu_cd = menu_cd
			) as up_menu_nm
			,m.active_flg
		FROM TB_MENU m
		WHERE
			menu_cd = #{menu_cd}
			AND del_flg = 'N'
	</select>

	<update id="insertMenu" parameterType="com.msp.cp.menu.vo.MenuVO">
		INSERT INTO TB_MENU (
			menu_cd
			,menu_nm
			,menu_url
			,menu_level
			,up_menu_cd
			,active_flg
			,created_by
		)
		VALUES (
			(SELECT /*+INDEX_DESC(TB_MENU TB_MENU_PK)*/
				DECODE(SUBSTR(MAX(menu_cd), 1, 3), null, 'MEN1000001', SUBSTR(MAX(menu_cd), 1, 3)||(SUBSTR(MAX(menu_cd), 4, 7)+1))menu_cd
			FROM TB_MENU
			WHERE
				ROWNUM = 1)
			,#{menu_nm}
			,#{menu_url}
			,#{menu_level}
			,#{up_menu_cd}
			,#{active_flg}
			,'admin'<!-- #{created_by} -->
		)
	</update>
	
	
	<update id="updateMenu" parameterType="com.msp.cp.menu.vo.MenuVO">
		UPDATE TB_MENU
		SET
			menu_nm = #{menu_nm}
			,menu_url = #{menu_url}
			,menu_level = #{menu_level}
			,up_menu_cd = #{up_menu_cd}
			,active_flg = #{active_flg}
			,updated_by = 'admin'<!-- #{created_by} -->
			,updated = sysdate
		WHERE
			menu_cd = #{menu_cd}
	</update>

	<update id="deleteMenu" parameterType="com.msp.cp.menu.vo.MenuVO">
		UPDATE TB_MENU
		SET DEL_FLG = 'Y'
		WHERE menu_cd = #{menu_cd}
	</update>
	<!-- 부서검색 Pop -->
	<select id="selectMenuPop" parameterType="map" resultType="com.msp.cp.menu.vo.MenuVO">
		SELECT *
		FROM 
		(
			SELECT
				ROWNUM AS rnum, m.*
			FROM 
			(
				SELECT
					DISTINCT
					m.menu_cd
					,m.menu_nm
					,m.menu_url
					,(
						SELECT DISTINCT menu_nm 
						FROM TB_menu
						WHERE m.up_menu_cd = menu_cd
					  ) as up_menu_nm
				FROM TB_MENU m
				WHERE
					m.del_flg='N'
					and m.active_flg='Y'
					<if test="menu_nm_key != null">
						and m.menu_nm like '%'||#{menu_nm_key}||'%'
					</if>
				ORDER BY m.menu_cd DESC
				) m
			)
		<![CDATA[
		WHERE RNUM >= #{startRow} AND RNUM <= #{endRow}
		]]>
	</select>
	<!-- 부서검색 Pop -->
	<select id="menuTreeList" parameterType="String" resultType="com.msp.cp.menu.vo.MenuVO">
		
		SELECT
	         m.menu_cd
			,m.menu_nm
			,m.menu_url
			,m.up_menu_cd
			,m.menu_level
			,m.active_flg
		FROM TB_MENU m, (
						select auth_id, menu_cd, menu_acc_auth 
						from tb_menu_auth 
						where auth_id = (
										select auth_id 
										from tb_user_auth 
										where user_id = #{sessionId} 
										and active_flg = 'Y')) a
		WHERE
			m.menu_cd = a.menu_cd(+)
			and del_flg='N'
			and a.menu_acc_auth = 'Y'
		CONNECT BY PRIOR m.menu_cd = m.up_menu_cd
		START WITH m.up_menu_cd is null
	</select>

</mapper>