<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="reply">

 <insert id="addReply">
  INSERT INTO TB_REPLY (REPLY_NO, BOARD_NO, REPLY_CONTENT, CREATED_BY)
  values
   (reply_seq.nextval, #{BOARD_NO ,jdbcType=VARCHAR}, #{REPLY_CONTENT ,jdbcType=VARCHAR}, #{CREATED_BY, jdbcType=VARCHAR})
 </insert> 

<select id ="replyList" parameterType="int" resultType="com.msp.cp.board.vo.ReplyVO">
SELECT
*
FROM TB_REPLY
WHERE BOARD_NO = #{BOARD_NO} 
</select>

 <delete id="removeReply" parameterType="String" > 
 delete tb_reply
 	where REPLY_NO = #{REPLY_NO}
 </delete>








</mapper>