<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<!-- 전체 행의 개수 -->
	<select id="userListCount" parameterType="java.util.Map" resultType="int">
	    select count(*) as cnt
		 FROM TB_USER
		where del_flg='N'  
		<if test="active_key == 'user_id_sch'">   
        		and user_id like '%'||#{user_sch_key}||'%' 
        	</if>
	 	<if test="active_key == 'user_nm_sch'">   
        		and user_nm like '%'||#{user_sch_key}||'%'
        	</if>
	 	<if test="active_key == 'dept_nm_sch'">   
        		and dept_cd like '%'||#{user_sch_key}||'%' 
        	</if>
	</select>

<!-- User List 출력  -->
	<select id="searchListUser" parameterType="string" resultType="map"> <!-- parameterType="map" resultType="com.msp.cp.user.vo.userVO" -->
		select X.*
		from ( 
		    select rownum as rnum, A.*, td.DEPT_NM, tua.auth_nm
		      from (
		            select *
		            from tb_user
		            where del_flg='N'
		             order by created desc) A, tb_dept td
		             , (select tua.auth_id, ta.auth_nm, tua.user_id
		             	  from tb_user_auth tua, tb_auth ta
		                 where tua.auth_id=ta.auth_id) tua
                where 1=1
                <if test="active_key == 'user_id_sch'">   
        			and A.user_id like '%'||#{user_sch_key}||'%' 
	        	</if>
			 	<if test="active_key == 'user_nm_sch'">   
		        	and A.user_nm like '%'||#{user_sch_key}||'%'
		        </if>
			 	<if test="active_key == 'dept_nm_sch'">   
	        		and td.dept_nm like '%'||#{user_sch_key}||'%' 
	        	</if>
                and A.DEPT_CD = td.DEPT_CD
                and A.user_id = tua.user_id(+)
                order by A.created desc
		    ) X
			<![CDATA[
				where X.rnum >= #{page.startRow} and X.rnum < #{page.endRow}
			]]>
	</select>

	<update id="userInsert" parameterType="com.msp.cp.user.vo.userVO">
		INSERT INTO tb_user (
			user_id, user_pwd, emp_no, user_nm, dept_cd
			, rank_cd, duty_cd, cphone_num1, cphone_num2, cphone_num3
			, phone_num1, phone_num2, phone_num3, email_id, email_domain
			, hiredate, created_by
			)
			VALUES (
					#{user_id},
					#{user_pwd},
					(<![CDATA[
						SELECT /*+INDEX_DESC(TB_USER IDX_EMP_NO)*/
						DECODE(SUBSTR(MAX(emp_no), 1, 6)
						, TO_CHAR(SYSDATE, 'YYYYMM')
						, MAX(emp_no)+1
						, TO_CHAR(SYSDATE,'YYYYMM')||'0001')emp_no
						FROM tb_user
						WHERE emp_no < TO_CHAR(SYSDATE, 'YYYYMM')||'9999'
						AND ROWNUM = 1)]]>,
					#{user_nm},
					#{dept_cd},
					#{rank_cd},
					#{duty_cd},
					#{cphone_num1},
					#{cphone_num2},
					#{cphone_num3},
					#{phone_num1},
					#{phone_num2},
					#{phone_num3},
					#{email_id},
					#{email_domain},
					'sysdate',
					'admin'
		)
	</update>

	<update id="userDel" parameterType="com.msp.cp.user.vo.userVO">
		UPDATE tb_user
		SET DEL_FLG = 'Y'
		where user_id = #{user_id}
	</update>

	<select id="userDetail" parameterType="string"
		resultType="com.msp.cp.user.vo.userVO">
		SELECT TU.*, TD.DEPT_NM
		FROM(select *
			   FROM TB_USER
				WHERE 1=1
				AND USER_ID=#{user_id}
				AND DEL_FLG = 'N') TU, TB_DEPT TD 
		WHERE 1=1
		AND TU.DEPT_CD = TD.DEPT_CD
	</select>

	<update id="userEdit" parameterType="com.msp.cp.user.vo.userVO">
		UPDATE
		TB_USER
		SET
		user_nm=#{user_nm}
		,user_pwd=#{user_pwd}
		,email_id=#{email_id}
		,email_domain=#{email_domain}
		,cphone_num1=#{cphone_num1}
		,cphone_num2=#{cphone_num2}
		,cphone_num3=#{cphone_num3}
		,phone_num1=#{phone_num1}
		,phone_num2=#{phone_num2}
		,phone_num3=#{phone_num3}
		,dept_cd=#{dept_cd}
		,rank_cd=#{rank_cd}
		,duty_cd=#{duty_cd}
		,updated=sysdate
		,updated_by=#{user_id}

		WHERE
		user_id = #{user_id}
	</update>
	
		<!-- 직급구분리스트  -->
	<select id="rankCDList" resultType="com.msp.cp.user.vo.userVO">
		select a.code_txt rank_nm, a.code1 rank_cd
		from tb_code_detail a, tb_code_master b
		where 1=1
		and a.grp_cd = b.GRP_CD
		and a.grp_cd = 01
	</select>	
	
	<!-- 직책구분리스트  -->
	<select id="dutyCDList" resultType="com.msp.cp.user.vo.userVO">
		select a.code_txt duty_nm, a.code1 duty_cd
		from tb_code_detail a, tb_code_master b
		where 1=1
		and a.grp_cd = b.GRP_CD
		and a.grp_cd = 02
	</select>	
	
	<!-- User List Excel  -->
	<select id="userlist_excel" parameterType="string" resultType="map">
		select X.*
		from ( 
		    select rownum as rnum, A.*, td.DEPT_NM
		      from (
		            select *
		            from tb_user
		            where del_flg='N'
		             order by created desc) A, tb_dept td
                where 1=1
                <if test="user_id_sch != null and user_id_sch != ''">   
        			and A.user_id like '%'||#{user_id_sch}||'%' 
	        		</if>
				 	<if test="user_nm_sch != null and user_nm_sch != ''">   
			        	and A.user_nm like '%'||#{user_nm_sch}||'%'
			        </if>
				 	<if test="dept_cd_sch != null and dept_cd_sch != ''">   
			        	and td.DEPT_NM like '%'||#{dept_cd_sch}||'%'
			        </if>
                and A.DEPT_CD = td.DEPT_CD
		    ) X
		    
	</select>

	
</mapper>