.userListTable th { width: 10%;
     text-align: center;
    }
.userListTable td{
	text-align: left;
	width: 12%;
			}   
#checkTd {
	width: 5%;
}
#checkTh {
	width: 5%;
}

#dept_pop_div { display: none; position:absolute; width:50%; height:75%; left:80%; top:30%; 
				background-color: #c0c4cb	; overflow: auto;}
				
.inputTag {
    
      height: 20px;
      padding: 2px 2px 2px 2px; /* ��, ��, ��, �� */
      text-align: left; /* left, center, right */
      border: #888888 1px solid;
      background-color: #FFFFFF;
      
      /* �׵θ� ������ ���� �� �β��� �����Ҷ� ����մϴ�
      border-right: #888888 1px solid;
      border-left: #888888 1px solid;
      border-top: #888888 1px solid;
      border-bottom: #888888 1px solid;
      */
      /* �۲��� ���� ������ �� �ִ�.
      font-family: �ü�, Gulim, 'Times New Roman';
      */
      color: #0000ff;
      font-size: 10pt; 
      font-weight: normal; /* normal, bold, bolder, lighter, 100, 200, 300, 400, 500, 600, 700, 800, 900 */
      font-style: normal; /* normal, italic, oblique */
    }
    
    
