.userMask_div {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
}
.DEPT_POP_BACK {
    display: contents;
    position: absolute;
    z-index: 2;
/*     background-color: rgba(0, 0, 0, 1); */
    left: 30%;
    top: 10%;
    width: 40%;
    height: 75%;
    overflow: none;
    opacity:0.5;

}
   
/* #Dtable td{ */
/* 	width: 40%; */
/* } */

/* .input{ */
/* 	width: 100%; */
/* } */

/* th { width: 16%; */
/*      text-align: right; */
/*     } */

/* Modal Content/Box */
.modalL_list_div {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 15px;
    border: 1px solid #888;
    width: 99%; /* Could be more or less, depending on screen size */
}
.Npop_main_div{
	display: none;
	position:absolute; 
	width:40%; 
	height:75%; 
	left:30%; 
	top:10%; 
	z-index:2; 
	background-color: #FFFFFF; 
	overflow: none;
}
.Dpop_main_div{
	display: none;
	position:absolute; 
	width:40%; 
	height:80%; 
	left:30%; 
	top:10%; 
	z-index:2; 
	background-color: #FFFFFF; 
	overflow: none;
}
.DEPTpop_main_div{
	display: none;
	position:absolute; 
	width:30%; 
	height:60%; 
	left:36%; 
	top:18%; 
	z-index:3; 
	background-color: #FFFFFF; 
	overflow: none;
}
