@CHARSET "UTF-8";


#menuAuthMask {position:absolute; z-index:9000; background-color:#000; display:none; left:0; top:0;}
#menuAuthInsertMask {position:absolute; z-index:9000; background-color:#000; display:none; left:0; top:0;}

.menuAuthWindow {display: none; position:absolute; width:50%; height:52%; left:28%; top:30%; z-index:10000;
				background-color: white; overflow: auto;}	
.menuAuthInsertWindow {display: none; position:absolute; width:50%; height:65%; left:30%; top:15%; z-index:10000;
				background-color: white; overflow: auto;}

.menuOpen{display: none;}		
.block_div{display:block; height: 10px; clear: both;}

.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -ms-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
}

.modal.fade.in {
  top: 5%;
}

.page1 {
	width: 15%;
	text-align: center;
	float: inherit;
}

.search1_div {
	margin-top: 10px;
	margin-left: 20px;
	float: left;
	width: 48%;
}

.page2 {
	width: 15%;
	text-align: center;
	float: inherit;
	margin-left: 35%;
	
}

.tdstyle {
	text-align: left;
}

.thth {
	text-align: center;
}



#mainDiv {
/* 	border: 1px solid red; */
	margin-top: 15px;
	margin-left: 5px;
}

#center {
	border: 1px solid blue;
}
#mainStrong {
	margin-top: 15px;
	padding-top: 30px; 
}

#insert_tbl {
/* 	text-align: center; */
	vertical-align: middle;
}

th, td {
	vertical-align: middle;
}
#btns {
	padding-left: 15px;
}





